@model IEnumerable<int>

@{
    ViewBag.Title = "Chart";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="~/scss/hover.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/scss/main.css">
    <link rel="stylesheet" href="~/scss/skin.css">
    <script type="text/javascript" src="~/script/hover.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="~/script/index.js"></script>
    <script src="~/script/Chart.min.js"></script>
    <script src="~/script/utils.js"></script>
    <style>
        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    </style>
</head>

<body>
	<div id="chcolor">
	
	</div>
    <div class="contain">
        <canvas id="canvas"></canvas>
    </div>
    <br>
    <br>
    <script>
		var config = {
            type: 'bar',
			data: {
                labels: ['ינואר', 'פברואר', 'מרץ', 'אפריל', 'מאי', 'יוני', 'יולי', 'אוגוסט', 'ספטמבר', 'אוקטובר'],
				datasets: [{
					label: "@ViewBag.ChartTitle",			
					borderColor: window.chartColors.red,
					data: [
						@{ foreach (var item in Model)
                            {
								@(item.ToString() + ",")
                            }
						}
						],
					fill: false,
				}]
			},
			options: {
				responsive: true,
				title: {
					display: true,
                    text: 'גרף הנפקת מרשמים עבור תרופות בחודשים החולפים',
				},
				tooltips: {
					mode: 'index',
					intersect: false,
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
				scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'חודשים'
						}
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'כמות'
						},
                        ticks: {
                            beginAtZero: true
                        }
					}]
				}
			}
		};

		window.onload = function () {
			document.getElementById("chcolor").innerHTML = document.getElementById("chcolor").classList;

			var ctx = document.getElementById('canvas').getContext('2d');
			window.myLine = new Chart(ctx, config);
		};
    </script>
</body>
</html>


