
@{
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="~/scss/log.css">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="~/scss/main.css">
    <link type="text/css" rel="stylesheet" href="~/scss/skin.css">
    <script type="text/javascript" src="~/script/log.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/script/index.js"></script>
</head>

<body onpageshow="LogIn()">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="container right-panel-active">
        <!-- Sign Up -->
        <div class="container__form container--signup" dir="rtl">
            <form action="SignUp" method="post" class="form">
                <h2 class="form__title">הרשמה</h2>

                <input name="id" type="text" placeholder="מספר ת.ז." class="input" required />
                 @*@Html.ValidationMessage("שדה חובה", new { @class = "text-danger" })*@

                <input name="mail" type="email" placeholder="מייל" class="input" required />
                <input name="pass" type="password" placeholder="סיסמה" class="input" required />
                <button class="btn-default">הרשמה</button>
            </form>
        </div>

        <!-- Sign In -->
        <div class="container__form container--signin" dir="rtl">
            <form class="form" action="Log" method="post">
                <h2 class="form__title">התחברות</h2>
                <input name="mail" type="text" placeholder="מייל" class="input" required/>
                <input name="pass" type="password" placeholder="סיסמה" class="input" />
                <a href='@Url.Action("ForgotPassword")' class="link">שכחת סיסמה?</a>
                <input type="submit" value="התחברות" class="btn-default" />
            </form>
        </div>

        <!-- Overlay -->
        <div class="container__overlay">
            <div class="overlay">
                <div class="overlay__panel overlay--left">
                    <button class="btn-default" id="signIn">התחברות</button>
                </div>
                <div class="overlay__panel overlay--right">
                    <button class="btn-default" id="signUp">הרשמה</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
