
<head>
    <script>
        function earase(delete_button) {
            //alert(delete_button.getAttribute("donation-id"));
            document.getElementById("modal-donation-id").value = delete_button.getAttribute("donation-id");

        }
    </script>
</head>
<a onclick="earase(this)" donation-id="1" data-toggle="modal" data-target="#popup1" style="color:#C7187D; width:20px; height:20px; font-family:'Segoe UI';right:1000px"><i class="fa fa-trash" style="font-size:24px"></i>בלהבלהלהלה</a>

<div class="modal fade" id="popup1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" hidden>
    <div class="modal-dialog">
        <div class="modal-content">
            <form dir="rtl" style="font-family:'Segoe UI';" name="example" action="~/Management/earaseDonation" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="text-align:left" value="מחיקת תרומה">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="text-align:center;">
                    <label>האם אתה בטוח שברצונך למחוק תרומה זו?</label>
                    <h6>באם תרומה זו משויכת לתורם יישלח מייל לתורם זה</h6>
                </div>
                <div class="modal-footer" style="text-align:left">
                    @{
                       <input id="modal-donation-id" name="DonationId" type="hidden" required />
                            <input class="btn btn-outline-secondary" type="submit" style="background-color:#cff491" value="אישור" />
                 <input class="btn btn-outline-secondary" data-dismiss="modal" type="button" value="אישור" style="background-color:#cff491" data-toggle="modal" data-target="#popup" />
                   
                    }
                    <button class="btn btn-outline-secondary" data-dismiss="modal">סגור</button>
                </div>
            </form>
        </div>
    </div>
</div>
