html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

body {
    background-color: #e3e3e3;
    text-align: center;
    display: flex;
}

    body .container {
        width: 100%;
        min-width: 320px;
        height: auto;
        margin: 0 auto;
        padding: 60px 30px;
        text-align: center;
        background: white;
        border-top: 80px solid rgba(154, 211, 222, 0.3);
        border-bottom: 80px solid rgba(154, 211, 222, 0.3);
        box-sizing: border-box;
        align-self: center;
    }

h1, h2 {
    font-family: 'Srisakdi', cursive;
    font-weight: 400;
}

p, button {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 60px;
    text-align: center;
    color: #666;
    margin: 0 0 40px 0;
}

h2 {
    font-size: 45px;
    text-align: center;
    color: #666;
    margin: 0 0 30px 0;
}

p {
    color: #666;
}

button {
    background: #9ad3de;
    border: 0;
    border-radius: 4px;
    padding: 18px 30px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

    button:focus {
        outline: none;
    }

    button:hover {
        background: #c0e4eb;
    }

.popup {
    background: rgba(100, 100, 100, 0.5);
    position: fixed;
    display: none;
    z-index: 5000;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

    .popup > div {
        max-width: 600px;
        width: 70%;
        position: fixed;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        background: #fff;
        padding: 30px;
        z-index: 5001;
        text-align: center;
        border: 5px solid #9ad3de;
        border-radius: 10px;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
    }
